In [1]:
import warnings
warnings.filterwarnings('ignore')

from speech_modeling import h_model, h_input
import pandas as pd
import random
import numpy as np

random.seed(7)

In [2]:
# from gmu_scraping import getFiles

# getFiles().get_audio()

In [3]:
raw_df = pd.read_csv("./formants.csv")
input_data = h_input(raw_df)
input_data.process()
input_data.revert()
input_data.input_df[input_data.f1v_features]

                                                           value              \
variable                                                      F1
word                                                           a
phoneme                                                      AH0         EY1
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     484.116707    0.000000
english10  f      35  davenport_iowa_usa              446.479293    0.000000
english101 f      18  toronto_ontario_canada          500.414386    0.000000
english102 m      22  torrington_connecticut_usa      454.650048    0.000000
english103 m      21  statenisland_newyork_usa        440.677259    0.000000
...                                                          ...         ...
english95  m      18  mishawaka_indiana_usa           373.439207  436.228222
english96  m      31  pointpleasant_newjersey_usa     382.289638    0.000000
english97  m      42  wilmingtonnc_northcarolina_usa  412.892373    0.000000
english98  m      22  spokane_washington_usa          418.064048    0.000000
english99  f      52  pittsburgh_pennsylvania_usa     457.689771    0.000000

                                                                              \
variable
word                                                        also
phoneme                                                      AO1           L
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     649.691041  669.687544
english10  f      35  davenport_iowa_usa              805.901930  558.646929
english101 f      18  toronto_ontario_canada          681.140780  673.199329
english102 m      22  torrington_connecticut_usa      597.563789  568.951003
english103 m      21  statenisland_newyork_usa        570.352779  568.339030
...                                                          ...         ...
english95  m      18  mishawaka_indiana_usa           552.856185  536.275567
english96  m      31  pointpleasant_newjersey_usa     504.845230  556.576476
english97  m      42  wilmingtonnc_northcarolina_usa  645.888058  700.158147
english98  m      22  spokane_washington_usa          618.866782  617.953326
english99  f      52  pittsburgh_pennsylvania_usa     749.402885  769.831476

                                                                               \
variable
word
phoneme                                                      OW0            S
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     479.885272   828.677910
english10  f      35  davenport_iowa_usa              462.684377  1637.447390
english101 f      18  toronto_ontario_canada          457.321222   696.700079
english102 m      22  torrington_connecticut_usa      485.040418  1076.151878
english103 m      21  statenisland_newyork_usa        367.708427  1110.484311
...                                                          ...          ...
english95  m      18  mishawaka_indiana_usa           413.165623   793.053304
english96  m      31  pointpleasant_newjersey_usa     423.650958   772.147145
english97  m      42  wilmingtonnc_northcarolina_usa  482.797701  1225.992121
english98  m      22  spokane_washington_usa          286.899709   275.746844
english99  f      52  pittsburgh_pennsylvania_usa     454.965281   717.069691

                                                                               \
variable
word                                                         and
phoneme                                                      AE1          AH0
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     633.160121   567.639486
english10  f      35  davenport_iowa_usa              594.366055   471.828542
english101 f      18  toronto_ontario_canada          624.759445     0.000000
english102 m      22  torrington_connecticut_usa        0.000000   448.358869
english103 m      21  statenisland_newyork_usa        542.836571     0.000000
...                                                          ...          ...
english95  m      18  mishawaka_indiana_usa           462.244063   427.028355
english96  m      31  pointpleasant_newjersey_usa     609.150271     0.000000
english97  m      42  wilmingtonnc_northcarolina_usa  892.139839  1773.535156
english98  m      22  spokane_washington_usa            0.000000   553.390182
english99  f      52  pittsburgh_pennsylvania_usa     517.224147   551.620150

                                                                              \
variable
word
phoneme                                                        D           N
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     401.396704  428.132173
english10  f      35  davenport_iowa_usa              329.241046  415.977904
english101 f      18  toronto_ontario_canada          476.532053  526.467925
english102 m      22  torrington_connecticut_usa      351.509291  406.301128
english103 m      21  statenisland_newyork_usa        298.619690  456.744494
...                                                          ...         ...
english95  m      18  mishawaka_indiana_usa           326.855455  431.387578
english96  m      31  pointpleasant_newjersey_usa     480.844344  438.094412
english97  m      42  wilmingtonnc_northcarolina_usa  420.303654  460.539344
english98  m      22  spokane_washington_usa          316.696529  407.752721
english99  f      52  pittsburgh_pennsylvania_usa     419.097745  476.334278

                                                      ...                  \
variable                                              ...  duration
word                                                  ... wednesday  will
phoneme                                               ...         Z   AH0
id         gender age location                        ...
english1   m      42  pittsburgh_pennsylvania_usa     ...      0.05  0.02
english10  f      35  davenport_iowa_usa              ...      0.10  0.02
english101 f      18  toronto_ontario_canada          ...      0.10  0.02
english102 m      22  torrington_connecticut_usa      ...      0.07  0.02
english103 m      21  statenisland_newyork_usa        ...      0.03  0.02
...                                                   ...       ...   ...
english95  m      18  mishawaka_indiana_usa           ...      0.08  0.02
english96  m      31  pointpleasant_newjersey_usa     ...      0.07  0.02
english97  m      42  wilmingtonnc_northcarolina_usa  ...      0.07  0.02
english98  m      22  spokane_washington_usa          ...      0.08  0.02
english99  f      52  pittsburgh_pennsylvania_usa     ...      0.09  0.02

                                                                             \
variable
word                                                                   with
phoneme                                               IH1     L     W    DH
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     0.0  0.05  0.07  0.00
english10  f      35  davenport_iowa_usa              0.0  0.04  0.05  0.00
english101 f      18  toronto_ontario_canada          0.0  0.05  0.03  0.00
english102 m      22  torrington_connecticut_usa      0.0  0.04  0.03  0.03
english103 m      21  statenisland_newyork_usa        0.0  0.04  0.06  0.00
...                                                   ...   ...   ...   ...
english95  m      18  mishawaka_indiana_usa           0.0  0.05  0.08  0.00
english96  m      31  pointpleasant_newjersey_usa     0.0  0.04  0.03  0.00
english97  m      42  wilmingtonnc_northcarolina_usa  0.0  0.04  0.06  0.00
english98  m      22  spokane_washington_usa          0.0  0.03  0.04  0.00
english99  f      52  pittsburgh_pennsylvania_usa     0.0  0.06  0.05  0.00


variable
word
phoneme                                                IH0   IH1    TH     W
id         gender age location
english1   m      42  pittsburgh_pennsylvania_usa     0.05  0.00  0.08  0.09
english10  f      35  davenport_iowa_usa              0.05  0.00  0.12  0.04
english101 f      18  toronto_ontario_canada          0.00  0.04  0.11  0.03
english102 m      22  torrington_connecticut_usa      0.04  0.00  0.00  0.05
english103 m      21  statenisland_newyork_usa        0.04  0.00  0.05  0.07
...                                                    ...   ...   ...   ...
english95  m      18  mishawaka_indiana_usa           0.05  0.00  0.11  0.07
english96  m      31  pointpleasant_newjersey_usa     0.04  0.00  0.09  0.03
english97  m      42  wilmingtonnc_northcarolina_usa  0.03  0.00  0.05  0.03
english98  m      22  spokane_washington_usa          0.05  0.00  0.12  0.04
english99  f      52  pittsburgh_pennsylvania_usa     0.04  0.00  0.09  0.04

[640 rows x 1648 columns]

,F1-a-AH0,F1-a-EY1,F1-also-AO1,F1-also-OW0,F1-and-AE1,F1-and-AH0,F1-ask-AE1,F1-at-AE1,F1-bags-AE1,F1-big-IH1,...,F1-toy-OY1,F1-train-EY1,F1-we-IY1,F1-wednesday-EH1,F1-wednesday-EY2,F1-wednesday-IY0,F1-will-AH0,F1-will-IH1,F1-with-IH0,F1-with-IH1
0,484.116707,0.000000,649.691041,479.885272,633.160121,567.639486,744.763339,539.505943,650.597091,418.221579,...,558.103092,598.918749,388.760823,659.521692,428.807428,0.000000,458.317544,0.0,451.351407,0.000000
1,446.479293,0.000000,805.901930,462.684377,594.366055,471.828542,767.568712,625.072530,854.488527,469.280507,...,526.556666,389.303757,429.566074,562.260227,0.000000,371.502363,376.116950,0.0,450.187307,0.000000
2,500.414386,0.000000,681.140780,457.321222,624.759445,0.000000,783.014323,688.876577,727.667387,551.872631,...,588.790482,494.794385,464.039105,628.624622,573.865729,0.000000,419.221923,0.0,0.000000,533.898484
3,454.650048,0.000000,597.563789,485.040418,0.000000,448.358869,721.693053,486.496701,621.065208,408.205085,...,486.987983,500.964263,363.266894,608.917180,516.772289,0.000000,455.938218,0.0,450.447378,0.000000
4,440.677259,0.000000,570.352779,367.708427,542.836571,0.000000,531.205255,439.593369,510.274918,396.962703,...,462.312784,551.478720,324.386679,550.618805,448.772615,0.000000,377.056530,0.0,439.580531,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,373.439207,436.228222,552.856185,413.165623,462.244063,427.028355,581.437571,554.111796,620.117427,409.366342,...,468.141905,400.395679,346.698229,442.615747,450.836784,0.000000,406.173443,0.0,404.690474,0.000000
636,382.289638,0.000000,504.845230,423.650958,609.150271,0.000000,628.395514,492.388026,584.881696,384.790654,...,438.897814,353.606437,319.910994,540.039985,440.448956,0.000000,344.062611,0.0,403.992729,0.000000
637,412.892373,0.000000,645.888058,482.797701,892.139839,1773.535156,676.025798,479.539749,658.410675,421.701828,...,629.698310,546.900984,303.396840,644.298475,406.628629,0.000000,698.005034,0.0,446.082325,0.000000
638,418.064048,0.000000,618.866782,286.899709,0.000000,553.390182,694.308547,363.337824,635.685699,408.574349,...,463.550769,366.878979,360.733320,401.566298,408.769797,0.000000,359.815566,0.0,430.033459,0.000000
639,457.689771,0.000000,749.402885,454.965281,517.224147,551.620150,870.185432,604.466515,755.833263,472.077218,...,525.328010,585.561931,427.429606,613.993904,540.764886,0.000000,503.244400,0.0,450.661997,0.000000

In [ ]:
def extract_country(location):
    l_list = location.split("_")
    if len(l_list) > 2:
        return l_list[2]
    elif len(l_list) > 1:
        return l_list[1]
    else:
        return l_list[0]
    
def extract_place(location):
    l_list = location.split("_")
    if len(l_list) > 1:
        return l_list[1]
    else:
        return l_list[0]

def word_find(feature):
    return feature.split("-")[0][0:2] + "-" + feature.split("-")[1]

dem_feats = ['age','gender']
in_df = input_data.input_df
in_df['location'] = in_df['location'].apply(extract_place)
in_df.gender = in_df.gender.replace(to_replace=['m', 'f'], value=[1, 0])
in_df['age'] = pd.to_numeric(in_df['age'])

opt_df = in_df.copy()[['id','gender','age','location']]

words = [word_find(f) for f in in_df.columns[4:]]
for w in words:
    for c in in_df.columns[4:]:
        if word_find(c) == w:
            opt_df[w] = in_df[c]
            break

in_list = list(in_df.columns[4:])
opt_list = list(opt_df.columns[4:])
for f in range(len(opt_list)):
    for s in range(len(opt_df)):
        if opt_df.iloc[s, f+4] == 0:
            for i in range(len(in_list)):
                word = word_find(in_list[i])
                if word == opt_list[f]:
                    if in_df.iloc[s, i+4] != 0.0:
                        opt_df.iloc[s, f+4] = in_df.iloc[s,i+4]
                        break
        else:
            continue

In [12]:
#normalize and filter for particular locations
new_df = opt_df.copy()[['id','gender','age','location']]
not_features = list(opt_df.columns)[0:4]

for c in opt_df.columns[4:]:
    if c[0:2] == "F1":
        name = "F1mF2" + c[2:]
        word = c.split("-")[1]
        c2 = "F2-" + word
        new_df[name] = opt_df[c2] - opt_df[c]
        
fs = list(new_df.columns)[4:]

for column in fs: 
#     new_df[column]=(new_df[column]-new_df[column].mean())/new_df[column].std()
    new_df[column]=(new_df[column]-new_df[column].min())/(new_df[column].max()-new_df[column].min())

opt_df = pd.merge(opt_df[not_features], new_df[fs], left_index=True, right_index=True)

places = ["uk", "texas", "california", "washington", "oregon", "colorado", "minnesota", "wisconsin", "illinois",
         "maine"]

filtered_df = opt_df.loc[opt_df['location'].isin(places)].reset_index(drop=True)

used_features = [f for f in list(filtered_df.columns[4:]) if f[0:5] in ["F1mF2"]]
filtered_features = dem_feats + used_features

filtered_df

KeyError: 'F2-a'

In [11]:
m = h_model(data=filtered_df, features=filtered_features, y_feature="location", y_main="uk")
m.fit(NUM_SAMPLES=5)

Fitting Model of type rforest
Modeling Sample 1 of 5

ValueError: Cannot perform LeaveOneOut with n_samples=0.

In [ ]:
m2 = h_model(data=filtered_df, features=filtered_features, y_feature="location", y_main="texas")
m2.fit(model_type="ridge_classification", NUM_SAMPLES=10)